<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>0502-TableAndPush.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>06F2A0EF1CD87035009960ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06F2A1061CD87035009960ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>06F2A1111CD87035009960ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
